.DS_Store
node_modules
.turbo
*.log
dist
dist-ssr
*.local
.env
.cache
server/dist
public/dist

# https://yarnpkg.com/getting-started/qa#which-files-should-be-gitignored
# (for now - not using zero-install)
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# use "nodeLinker: node-modules" hense seems like no need to store the cache
.yarn/cache

